In [107]:
from sklearn.cluster import MeanShift, estimate_bandwidth
import pandas as pd
import numpy as np

In [95]:
f = open('checkins.dat', "r")
data = []
for line in f:
    line_data = line.split('|')
    line_data = [token.strip() for token in line_data]
    data.append(line_data)
data = pd.DataFrame(data)
data = data.drop(data.index[[1]])
data.to_csv(r'checkins.csv')
data.head()

        0        1         2           3            4                    5
0      id  user_id  venue_id    latitude    longitude           created_at
2  984301  2041916      5222                           2012-04-21 17:39:01
3  984222    15824      5222  38.8951118  -77.0363658  2012-04-21 17:43:47
4  984315  1764391      5222                           2012-04-21 17:37:18
5  984234    44652      5222   33.800745    -84.41052  2012-04-21 17:43:43

In [100]:
df = pd.read_csv(r'checkins.csv', header=1)
df = df.drop('0', axis=1)
df.head()

C:\Users\didus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       id    user_id  venue_id   latitude  longitude           created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-21 17:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-21 17:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-21 17:42:58

In [101]:
print(df.shape)
df = df.dropna(subset=['id', 'latitude'])
print(df.shape)

(1021968, 6)
(396634, 6)

In [102]:
sub_df = df.head(100000)

In [110]:
sub_df.shape
sub_df.drop(['created_at', 'id', 'user_id', 'venue_id'], axis=1, inplace=True)

C:\Users\didus\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [112]:
ms = MeanShift(bandwidth=0.1)
ms.fit(sub_df)
ms.predict(sub_df)
cluster_centers = ms.cluster_centers_
cluster_centers

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [  38.891565  , -121.2930079 ],
       [  42.5953378 ,  -78.9411461 ],
       [  41.5822716 ,  -85.8344383 ]])

In [127]:
clusters = ms.labels_
cluster_elem  = dict()

for cluster in clusters:
    if cluster in cluster_elem:
        cluster_elem[cluster] += 1
    else:
        cluster_elem[cluster] = 1

In [165]:
offices = [
    (33.751277, -118.188740),
    (25.867736, -80.324116),
    (51.503016, -0.075479),
    (52.378894, 4.885084),
    (39.366487, 117.036146),
    (-33.868457, 151.205134),
]

best_coor = [[]]
best_dist = np.inf
i = 0
for idx in range(len(cluster_centers)):
    if cluster_elem[idx] < 15:
        continue
    
    curr_coor = cluster_centers[idx]
    for coordinate in offices:
        curr_dist = ((curr_coor[0] - coordinate[0]) ** 2 + 
                     (curr_coor[1] - coordinate[1]) ** 2) ** 0.5
        
        if curr_dist < best_dist:
            best_dist = curr_dist
            print(curr_coor)

[ 40.7177164  -73.99183542]
[ 40.7177164  -73.99183542]
[  33.44943805 -112.00213969]
[  37.68868157 -122.40933037]
[  36.11722914 -115.17107342]
[  34.06039755 -118.24870903]
[  33.81730643 -117.89124917]
[ 25.78581242 -80.21793804]
[  33.80987796 -118.14892381]
[51.50299126 -0.12553729]
[52.37296399  4.89231722]
[-33.86063043 151.20477593]

In [162]:
best_coor[0]

[]

In [119]:
my_file = open('centers.txt', 'w')
for center in cluster_centers:
    my_file.write(str(center[0])+','+str(center[1]))
    my_file.write('\n\n')
my_file.close()

In [134]:
offices

[(33.751277, -118.18874),
 (25.867736, -80.324116),
 (51.503016, -0.075479),
 (52.378894, 4.885084),
 (39.366487, 117.036146),
 (-33.868457, 151.205134)]